.show-info {
  display: block;
  animation: ani 1s backwards; }

.hide-info {
  display: none; }

@keyframes ani {
  0% {
    transform: translateY(40%); }
  100% {
    transform: translateY(0%); } }

body {
  font-family: "Roboto", sans-serif;
  background: #1b2f3f;
  box-sizing: border-box; }

.container {
  max-width: 90rem;
  display: block;
  margin: 0 auto; }

.primaryHeader {
  text-align: center;
  text-transform: uppercase;
  transform: skew(-15deg);
  font-weight: 700;
  letter-spacing: 0.3rem;
  margin: 5rem auto;
  background: linear-gradient(to right, #1b2f3f, rgba(139, 139, 139, 0.3)); }
  @media (max-width: 767px) {
    .primaryHeader {
      font-size: calc(30px + 30.6 * ((100vw - 320px) / 1440)); } }
  @media (min-width: 767px) {
    .primaryHeader {
      font-size: calc(30px + 18 * (100vw / 1440)); } }

.secondaryHeader {
  display: block;
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  transform: skew(-15deg);
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding: 4rem 0; }
  @media (max-width: 767px) {
    .secondaryHeader {
      font-size: calc(22px + 17 * ((100vw - 320px) / 1440)); } }
  @media (min-width: 767px) {
    .secondaryHeader {
      font-size: calc(22px + 10 * (100vw / 1440)); } }

.tertiaryHeader {
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  transform: skew(-15deg);
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding: 2rem 0; }
  @media (max-width: 767px) {
    .tertiaryHeader {
      font-size: calc(22px + 17 * ((100vw - 320px) / 1440)); } }
  @media (min-width: 767px) {
    .tertiaryHeader {
      font-size: calc(22px + 10 * (100vw / 1440)); } }

.paragraph {
  margin-bottom: 1rem;
  letter-spacing: 2px;
  line-height: 2rem; }
  @media (max-width: 767px) {
    .paragraph {
      font-size: calc(16px + 13.6 * ((100vw - 320px) / 1440)); } }
  @media (min-width: 767px) {
    .paragraph {
      font-size: calc(16px + 8 * (100vw / 1440)); } }

@media (max-width: 1023px) {
  .primaryHeader {
    margin: 3rem 0; }
  .secondaryHeader {
    letter-spacing: 0.15rem;
    padding: 2rem 0; }
  .paragraph {
    margin-bottom: 0.8rem;
    letter-spacing: 1px;
    line-height: 1.5rem; } }

@media (max-width: 512px) {
  .tertiaryHeader {
    letter-spacing: 0.1rem;
    padding: 1.8rem 0;
    margin-top: 1rem; } }

.colorWhite {
  color: #efefef; }

.colorRed {
  color: #ee364f; }

.main-btn {
  margin: 2rem auto;
  display: block;
  padding: 1rem 2rem;
  border: 1px solid #ee364f;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ee364f;
  background-color: #efefef;
  text-transform: uppercase; }
  .main-btn:hover {
    background-color: #ee364f;
    color: #efefef;
    cursor: pointer; }

@media (max-width: 512px) {
  .main-btn {
    margin: 1.5rem auto;
    display: block;
    padding: 0.7rem 1.5rem;
    border: 1px solid #ee364f;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: #ee364f;
    background-color: #efefef;
    text-transform: uppercase; }
    .main-btn:hover {
      background-color: #ee364f;
      color: #efefef;
      cursor: pointer; } }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 16, 32, 0.6);
  z-index: 10; }

.modal-window {
  position: relative;
  max-width: 50rem;
  max-height: 90vh;
  height: fit-content;
  width: 90%;
  width: calc(100% - 100px);
  display: block;
  overflow-x: auto;
  margin: 5vh auto;
  padding: 1rem;
  text-align: center;
  color: #efefef;
  background-color: #1b2f3f94;
  border: solid 1px #1b2f3f;
  border-radius: 10px; }

.btn-close {
  position: absolute;
  display: block;
  right: 1rem;
  top: 1rem;
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid #ee364f;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  line-height: 1.8rem;
  font-weight: 700;
  color: #ee364f;
  background-color: #efefef;
  text-transform: uppercase; }
  .btn-close:hover {
    background-color: #ee364f;
    color: #efefef;
    cursor: pointer; }

.price-item {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  margin-bottom: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px; }
  @media (max-width: 767px) {
    .price-item {
      font-size: calc(12px + 13.6 * ((100vw - 320px) / 1440)); } }
  @media (min-width: 767px) {
    .price-item {
      font-size: calc(12px + 8 * (100vw / 1440)); } }

.price {
  position: relative; }

.show {
  display: block;
  opacity: 1;
  animation: ani1 0.8s forwards; }

.hide {
  display: none; }

@keyframes ani1 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (max-width: 1023px) {
  .modal-window {
    padding: 0.25rem;
    margin-top: 5vh;
    width: calc(100% - 60px); }
  .price-item {
    padding: 0.2rem; } }

@media (max-width: 512px) {
  .modal-window {
    width: calc(100% - 30px);
    margin-top: 5vh; }
  .btn-close {
    right: 0.5rem;
    top: 0.5rem; }
  .price-item {
    padding: 0.2rem; } }

.scroll-arrow {
  right: 2rem;
  bottom: 2rem;
  position: fixed;
  z-index: 10; }
  .scroll-arrow img {
    width: 2rem; }
  .scroll-arrow:hover {
    cursor: pointer;
    transform: scale(1.1); }

@media (max-width: 1023px) {
  .scroll-arrow {
    right: 0.75rem;
    bottom: 1rem; }
    .scroll-arrow img {
      width: 1.5rem; } }

@media (max-width: 512px) {
  .scroll-arrow {
    right: 0.5rem;
    bottom: 1rem; }
    .scroll-arrow img {
      width: 1rem; } }

.trainer {
  width: 25%;
  margin-bottom: 3rem; }

.trainer-photo {
  text-align: center;
  position: relative; }
  .trainer-photo .trainer-img {
    width: 90%;
    max-width: 20rem;
    border-radius: 10px; }

.trainer-name {
  position: absolute;
  left: 50%;
  width: 90%;
  margin-left: -45%;
  font-weight: 700;
  top: 1rem;
  color: #1b2f3f; }
  @media (max-width: 767px) {
    .trainer-name {
      font-size: calc(22px + 3.4 * ((100vw - 320px) / 1440)); } }
  @media (min-width: 767px) {
    .trainer-name {
      font-size: calc(22px + 2 * (100vw / 1440)); } }

@media (max-width: 767px) {
  .trainer-position {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440)); } }

@media (min-width: 767px) {
  .trainer-position {
    font-size: calc(14px + 2 * (100vw / 1440)); } }

@media (max-width: 767px) {
  .trainer-position {
    margin-top: calc(4px + 3.4 * ((100vw - 320px) / 1440));
    margin-bottom: calc(4px + 3.4 * ((100vw - 320px) / 1440)); } }

@media (min-width: 767px) {
  .trainer-position {
    margin-top: calc(4px + 2 * (100vw / 1440));
    margin-bottom: calc(4px + 2 * (100vw / 1440)); } }

.info {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  width: 90%;
  margin-left: -45%; }
  .info img {
    height: 48px; }
    .info img:hover {
      transform: scale(1.2);
      cursor: pointer; }

.trainer-contacts {
  position: absolute;
  bottom: 0rem;
  left: 50%;
  width: 100%;
  margin-left: -50%;
  background: linear-gradient(0deg, #1b2f3f 0%, #1b2f3f 0%, rgba(27, 47, 63, 0) 100%); }

.phone-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  color: #efefef; }
  @media (max-width: 767px) {
    .phone-block .trainer-phone {
      font-size: calc(18px + 6.8 * ((100vw - 320px) / 1440)); } }
  @media (min-width: 767px) {
    .phone-block .trainer-phone {
      font-size: calc(18px + 4 * (100vw / 1440)); } }

.trainer-social {
  gap: 20px;
  justify-content: center;
  margin-bottom: 2rem; }

.header {
  display: flex;
  gap: 2rem;
  position: absolute;
  top: 0;
  max-width: 90rem;
  width: 100%; }
  .header img {
    height: 10rem;
    margin-left: 1rem; }

.header-nav {
  width: 95%;
  margin-right: 5%; }
  .header-nav ul {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    height: 10rem; }
    .header-nav ul li {
      color: #efefef;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 2px;
      text-transform: uppercase; }
      .header-nav ul li:hover {
        color: #ee364f;
        cursor: pointer;
        transform: scale(1.1); }

.slide {
  position: relative; }
  .slide img {
    width: 100%; }
  .slide p {
    color: #efefef;
    font-size: 2rem;
    position: fixed;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 400;
    bottom: 10%;
    left: 1rem;
    width: 30%;
    text-align: center;
    transform: skew(-15deg); }

.menu-btn {
  display: none; }

@media (max-width: 1023px) {
  .header {
    justify-content: space-between;
    align-items: center;
    gap: 1rem; }
  .slide img {
    width: 130%;
    margin-left: -10%; }
  .slide p {
    font-size: 1.5rem;
    left: 1rem; }
  .header-nav {
    position: fixed;
    left: calc(100% - 11rem);
    top: 5rem;
    width: 10rem;
    height: 10rem;
    padding: 15px;
    background: #13121aa0;
    display: inline-block;
    z-index: 30;
    transform: translateX(600%);
    transition: transform 0.8s; }
    .header-nav ul {
      flex-direction: column; }
  .header-nav.active {
    transform: translateX(0);
    width: 10rem;
    height: 10rem; }
    .header-nav.active li {
      text-shadow: 1px 1px 2px black, 0 0 1em #193c59, 0 0 0.2em #193c59; }
  .header img {
    height: 5rem;
    margin-left: 0.5rem; }
  .menu-btn {
    display: block;
    margin-right: 1rem;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden; }
    .menu-btn span {
      width: 30px;
      height: 4px;
      border-radius: 5px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #ffffff;
      transition: all 0.5s; }
      .menu-btn span:nth-of-type(2) {
        top: calc(50% - 10px); }
      .menu-btn span:nth-of-type(3) {
        top: calc(50% + 10px); }
  .menu-btn.active {
    position: fixed;
    left: calc(100% - 60px); }
    .menu-btn.active span:nth-of-type(1) {
      display: none; }
    .menu-btn.active span:nth-of-type(2) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(45deg); }
    .menu-btn.active span:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(-45deg); } }

.section {
  margin-top: 8rem;
  margin-bottom: 8rem; }

.content-block {
  display: flex;
  align-items: center;
  justify-content: center; }
  .content-block img {
    border-radius: 0.5rem;
    width: 100%; }

.reverse {
  flex-direction: row-reverse; }

.content-item {
  padding: 0 1rem;
  max-width: 45rem;
  width: 50%;
  margin-bottom: 2rem; }

.advantages {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem; }
  .advantages li {
    width: 33.3333%;
    margin: 2rem 0; }
  .advantages p {
    width: 90%; }
  .advantages img {
    width: 64px; }
  .advantages .img-bigger {
    width: 78px;
    margin-left: -14px;
    margin-bottom: -14px; }

.slick-prev {
  margin-left: 2rem;
  z-index: 10; }

.slick-next {
  margin-right: 2rem;
  z-index: 10; }

.bgr-gym {
  background: linear-gradient(to right, #1b2f3f, rgba(255, 255, 255, 0)), url(../images/bgr-gym.jpg);
  background-size: cover; }

.bgr-boxing {
  background: linear-gradient(to left, #1b2f3f, rgba(255, 255, 255, 0)), url(../images/bgr-boxing-rev.jpg);
  background-size: cover; }

.bgr-group {
  background: linear-gradient(to right, #1b2f3f, rgba(139, 139, 139, 0.3)), url(../images/bgr-group.jpg);
  background-size: cover; }

.trainers {
  display: flex;
  flex-wrap: wrap; }

@media (max-width: 1023px) {
  .section {
    margin-top: 5rem;
    margin-bottom: 5rem; }
  .content-block {
    flex-wrap: wrap;
    justify-content: center; }
  .reverse {
    flex-direction: row; }
  .content-item {
    width: 100%;
    padding: 0 0.5rem; }
  .advantages li {
    width: 50%;
    margin: 2rem 0; }
  .advantages img {
    width: 50px; }
  .advantages .img-bigger {
    width: 64px;
    margin-left: -7px;
    margin-bottom: -7px; }
  .slides-gym {
    margin: 0 0.5rem; }
  .trainer {
    width: 50%; } }

@media (max-width: 512px) {
  .advantages li {
    width: 100%;
    margin: 1.2rem 0; }
  .trainer {
    width: 100%; }
  .phone-block .phone-img {
    height: 30px; } }

.footer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem; }

.logo-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .logo-info .logo {
    height: 14rem;
    margin: 0 1rem; }

.contacts-phone img {
  width: 42px;
  margin-left: 0;
  margin-bottom: -5px; }

.contacts-mail img {
  height: 54px;
  margin-left: 0;
  margin-bottom: -12px; }

.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem; }
  .social-icons img {
    height: 42px; }

iframe {
  max-width: 32rem;
  width: 40%;
  border-radius: 10px; }

@media (max-width: 1024px) {
  .footer {
    flex-wrap: wrap; }
  .logo-info {
    width: 100%; }
  iframe {
    width: 90%;
    border-radius: 8px;
    margin-top: 1rem; }
  .social-icons img {
    height: 36px; } }

@media (max-width: 512px) {
  .footer {
    flex-wrap: wrap; }
    .footer .logo {
      margin: 0 0.5rem;
      height: 8rem; }
    .footer .contacts {
      font-size: 0.8rem; }
  .logo-info {
    width: 100%; }
  .contacts-phone img {
    width: 24px;
    margin-left: 0;
    margin-bottom: -3px; }
  .contacts-mail img {
    height: 30px;
    margin-left: 0;
    margin-bottom: -8px; }
  iframe {
    width: 90%;
    border-radius: 8px;
    margin-top: 1rem; }
  .social-icons img {
    height: 32px; } }
