.footer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.logo-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .logo {
    height: 14rem;
    margin: 0 1rem;
  }
}

.contacts-phone {
  img {
    width: 42px;
    margin-left: 0;
    margin-bottom: -5px;
  }
}

.contacts-mail img {
  height: 54px;
  margin-left: 0;
  margin-bottom: -12px;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  img {
    height: 42px;
  }
}

iframe {
  max-width: 32rem;
  width: 40%;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .footer {
    flex-wrap: wrap;
  }
  .logo-info {
    width: 100%;
  }

  iframe {
    width: 90%;
    border-radius: 8px;
    margin-top: 1rem;
  }

  .social-icons {
    img {
      height: 36px;
    }
  }
}

@media (max-width: 512px) {
  .footer {
    flex-wrap: wrap;

    .logo {
      margin: 0 0.5rem;
      height: 8rem;
    }
    .contacts {
      font-size: 0.8rem;
    }
  }
  .logo-info {
    width: 100%;
  }

  .contacts-phone img {
    width: 24px;
    margin-left: 0;
    margin-bottom: -3px;
  }

  .contacts-mail img {
    height: 30px;
    margin-left: 0;
    margin-bottom: -8px;
  }

  iframe {
    width: 90%;
    border-radius: 8px;
    margin-top: 1rem;
  }

  .social-icons {
    img {
      height: 32px;
    }
  }
}
