.section {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.content-block {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    border-radius: 0.5rem;
    width: 100%;
  }
}

.reverse {
  flex-direction: row-reverse;
}

.content-item {
  padding: 0 1rem;
  max-width: 45rem;
  width: 50%;
  margin-bottom: 2rem;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
  li {
    width: 33.3333%;
    margin: 2rem 0;
  }

  p {
    width: 90%;
  }

  img {
    width: 64px;
  }
  .img-bigger {
    width: 78px;
    margin-left: -14px;
    margin-bottom: -14px;
  }
}

.slick-prev {
  margin-left: 2rem;
  z-index: 10;
}
.slick-next {
  margin-right: 2rem;
  z-index: 10;
}

.bgr-gym {
  background: linear-gradient(to right, #1b2f3f, rgba(255, 255, 255, 0)),
    url(../images/bgr-gym.jpg);
  background-size: cover;
}
.bgr-boxing {
  background: linear-gradient(to left, #1b2f3f, rgba(255, 255, 255, 0)),
    url(../images/bgr-boxing-rev.jpg);
  background-size: cover;
}
.bgr-group {
  background: linear-gradient(to right, #1b2f3f, rgba(139, 139, 139, 0.3)),
    url(../images/bgr-group.jpg);
  background-size: cover;
}

.trainers {
  display: flex;
  flex-wrap: wrap;
}

.trainer {
  width: 50%;
  margin-bottom: 3rem;  
}
.trainer-photo {
  text-align: center;
  position: relative;
  .trainer-img {
    width: 90%;
    max-width: 30rem;        
  }
}
.trainer-name {
  position: absolute;  
  left: 50%;
  width: 90%;
  margin-left: -45%;
  font-weight: 700;  
  top: 1rem;   
  color: $color-primary;
  @include adaptive-font(32, 22);   
}
.info {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  width: 90%;
  margin-left: -45%;
  img {
    height: 64px;
  }
}

.trainer-contacts {
  position: absolute;
  bottom: 0rem;
  left: 50%;
  width: 100%;
  margin-left: -50%;
  background: linear-gradient(0deg, rgba(27,47,63,1) 0%, rgba(27,47,63,1) 0%, rgba(27,47,63,0) 100%);
}
.phone-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  color: $color-white;
  .phone-img {
    height: 50px;
  }
  .trainer-phone {
    @include adaptive-font(28, 20); 
  }
}
.trainer-social {  
  gap: 20px;
  justify-content: center;
  margin-bottom: 2rem;
  
}

@media (max-width: 1023px) {
  .section {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .content-block {
    flex-wrap: wrap;
    justify-content: center;
  }

  .reverse {
    flex-direction: row;
  }

  .content-item {
    width: 100%;
    padding: 0 0.5rem;
  }

  .advantages {
    li {
      width: 50%;
      margin: 2rem 0;
    }
    img {
      width: 50px;
    }
    .img-bigger {
      width: 64px;
      margin-left: -7px;
      margin-bottom: -7px;
    }
  }
  .slides-gym {
    margin: 0 0.5rem;
  }
}

@media (max-width: 512px) {
  .advantages {
    li {
      width: 100%;
      margin: 1.2rem 0;
    }
  }
  .trainer {
    width: 100%;    
  } 
  .phone-block {   
    .phone-img {
      height: 30px;
    }
  }
}