.content-block {
  display: flex;
  img {
    border-radius: 0.5rem;
    width: 100%;
  }
}

.content-item {
  padding: 0 1rem;
  max-width: 45rem;
  width: 50%;
  margin-bottom: 2rem;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
  li {
    width: 33%;
    margin: 2rem 0;
  }

  p {
    width: 90%;
  }

  img {
    width: 64px;
  }
}

@media (max-width: 1023px) {
  .content-block {
    flex-wrap: wrap;
    justify-content: center;
  }

  .content-item {
    width: 100%;
  }

  .advantages {
    li {
      width: 50%;
      margin: 2rem 0;
    }
  }
}

@media (max-width: 512px) {
  .advantages {
    li {
      width: 100%;
    }
  }
}
