.content-block {
    display: flex;    
    img {
        border-radius: 0.5rem;
        width: 100%;        
    }    
}

.content-item {
    padding: 0 1rem;
    max-width: 45rem;
    width: 50%;
}

@media (max-width: 1023px) {
    .content-block {        
        flex-wrap: wrap;
        justify-content: center;        
    }
    
    .content-item {        
        width: 100%;
    }
}