.scroll-arrow {
  right: 2rem;
  bottom: 2rem;
  position: fixed;
  z-index: 10;
  img {
    width: 2rem;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

@media (max-width: 1023px) {
  .scroll-arrow {
    right: 0.75rem;
    bottom: 1rem;
    img {
      width: 1.5rem;
    }
  }
}

@media (max-width: 512px) {
  .scroll-arrow {
    right: 0.5rem;
    bottom: 1rem;
    img {
      width: 1rem;
    }
  }
}
