body {
  font-family: "Roboto", sans-serif;
  background: $color-primary;
  box-sizing: border-box;
  & ::selection {
    background: #ee364f56;    
    }
  & ::-moz-selection {
    background: #ee364f56;    
    }
}

.container {
  max-width: 90rem;
  display: block;
  margin: 0 auto;
}

